p, h4 {
	padding: 1px 5px;
}

.caja-exterior1, .caja-exterior2, .caja-exterior3 {
	display: block;
	height: 250px;
	width: 220px;
	border: 1px solid #F05917;
}

.contenido1, .contenido2, .contenido3 {
	padding: 3px;
}